@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --blue: #2970f4;
  --white: #ffffff;
  --silver: #f7f7f7;
  --space-gray: #6e757c;
  --black: #222529;
  --fs_primary: 16px;
}

ul {
  list-style: none;
  text-align: center;
}

ul li {
  display: block;
  font-weight: 300;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs_primary);
  background-color: var(--white);
}

.tariffs__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

.tariff {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.3);
  min-height: 325px;
  border: 2px solid var(--silver);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 320px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

@media screen and (max-width: 768px) {
  .tariffs__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .tariffs__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
}

.tariff--active {
  border-color: var(--blue);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.tariff__header {
  text-align: center;
  background-color: var(--silver);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #d8d8d8;
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin-top: -2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tariff__header_active {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--blue);
}

.tariff__header_active::before {
  background-color: var(--blue);
  box-shadow: 0px 0px 2px 0px var(--blue);
}

.tariff__price {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-top: 20px;
}

.tariff__price-number {
  font-weight: bold;
  font-size: 2em;
}

.tariff__price-date {
  color: var(--space-gray);
  font-size: 2em;
  font-weight: 300;
}

.tariff__price-options {
  flex-grow: 1;
  padding-right: 50px;
  height: 100%;
}

.order {
  display: flex;
  justify-content: center;
}

.order__link {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  border-radius: 5px;
  transition: 0.2s ease;
  font-size: 1em;
  padding: 10px 100px 10px 100px;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease;
}

.order__link:hover {
  background-color: var(--white);
  color: var(--blue);
}
